
.menubar{
  height: 19%;
  text-align: end;
  justify-content: end;
  display: inline-grid;
  margin: 0px 30px 0px 0px;
  z-index: 10;
}


.side_nav{
  width: 230px;
  background-color: #FFFFFF;
  margin: 6px auto 0px;
  height: auto;

}

.side_nav ul{
  list-style: none;
  margin: 0;
  padding: 13px 0px 5px 0px;

}
  
.side_nav ul li{
  position: relative;
  margin-bottom:7px;
  padding: 0px 0px 0px 0px;
  &:hover{
    background-color: rgba(15,52,96,.1)
  }
}

.side_nav ul li:last-child{
  padding: 0px 0px 6px 0px;
}
.side_nav ul li a{
  display: block;
  padding: 5px 10px;
  font-size: 1rem; 
  opacity: 0.9;
  font-weight: 500;   
  text-transform: capitalize;
  text-align: start;
  text-decoration: none;
  color: black;

 &:hover{
  opacity:1;
 }
}


.side_nav ul li a .menu_icon{
  width: 25px;
  margin-right:8px ;
  text-align: center;
}

.side_nav ul li a .arrow{
  position: absolute;
  top: 10px;
  right: 10px;
}



.side_nav ul li ul.dropdown{
  display: block;
  visibility: hidden;
  position: absolute;
  background-color: #FFFFFF;
  top: 0px;
  left:100%;
  opacity: 0;
  width: 0px;
  height: 0px;
  max-height: 0px;
  z-index: 999;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

.side_nav ul li:hover > ul.dropdown{
  visibility:visible;
  width: 250px;
  height: auto;
  max-height: 300px;
  padding-left: 6px;
  opacity: 1;
  transition: .2s cubic-bezier(0.655, 0.05, 0.315, 0.955); 
}

.side_nav ul li ul.dropdown li:last-child{
  padding-bottom: 0px;
}

.side_nav ul li ul.dropdown li a:hover{
  border-left: 3px solid  var(--main-bg-color);
  transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@media(min-width:1367px){
  .side_nav{
     width: 245px;
     height: 580px;
  }
  .side_nav ul li a{
    padding: 6px 10px;
    font-size: 1.1rem; 
  }
}




/**scroll menubar css*/


.scroll{
  background-color: #F5F5F5;
  text-align: end;
  justify-content: end;
  display: inline-grid;
  margin: 78px 30px 0px 29px;
  position: absolute;
  transition: all 0.5s;
  box-shadow: 0px 2px 2px rgba(0,0,0,.4);
}

.scroll .side_nav{
  height: auto;
}

.scroll ul li ul.dropdown{
  display: block;
  position: absolute;
  background-color: #FFFFFF;
  top: 0px;
  left:100%;
  width: 200px;
  z-index: 999;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

.scroll ul li a .arrow{
  position: absolute;
  top: 6px;
  right: 5px;
  transition : 0.3s ease-in
}


.scroll ul li a{
display: block;
padding:3px 3px;
font-size: 1.01rem;
text-align: start;
text-decoration: none;
color: black;
}
  
@media only screen and (max-width: 1115px) {
  .menubar{
   display: none;
  }
   
}

@media only screen and (max-width: 990px) {
  .side_nav ul{
    padding: 0px 0px 0px 0px;
  }
  .side_nav ul li a{
    padding: 2px 10px;
    font-size: 0.8rem;
  }
  .side_nav ul li ul.dropdown{
    left: 195px;
  }

}