
.pagination{
    padding: 0px 0px 0px 5px;  
    align-items: center;
    background-color: #FFF;
    width: 90%;
    margin: 20px auto 20px auto;
}
.pagination p{
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0px 5px 0px 5px ;
    margin: 0px;
}

.pagination .right-arrow{
    margin-top: 2px;
    opacity: 0.6;
}

@media(max-width:768px){
    .pagination {
        padding: 20px 0px 20px 19px;
        height: 30px;
        align-items: center;
    }
    .pagination p{
        font-size: 1rem;
    }
}