
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #EFF0F5;
    margin-top: 0px;

}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    padding: 20px 25px;
    text-align: center;
    border-radius: .5rem;
}

.register-form label {
    display: block;
    font-size: 16px;
    padding-left: 4px;
    text-align: start;
    text-indent: 47px;
    margin-bottom: 5px;
}

.register-form div {
    margin: 10px 0px 10px 10px;
    text-indent: 0px;
}

.register-form .input-field{
    width: 400px;
    outline: none;
    border: 1px solid rgba(215,215,215,0.9);
    border-radius: 5px;
    padding: 8px 10px;
    &:focus{
        border : 1px solid #000  
    }
}

.register-form .password{
    position: relative;
}
.register-form .password .input-field{
   width: 400px;
}

.register-form .password .hide-show-password{
    background: transparent;
    border: none;
    padding: 9px 15px;
    position: absolute;
    top: 28px;
    right: 48px;
}



.register-form .sign-up-btn{
    width: 80%;
    margin: 10px 0px 0px 55px;
    background-color: #222836;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 10px 0px;
    transition: .2s;
    &:hover{
        background-color: #000;
        transition: .2s;
    }
}

.register p{
    margin-top: 10px;
}

@media(min-width:1367px){
    .register{
        height: 20vh;
        margin: 130px 0px 170px 0px;
    }
}

@media(max-width:570px) {
    
.register {
    height: 60vh;
}
    .register-form {
        width: 380px;
    }
    .register-form div label{
        text-indent: 11px;
    }
    .register-form .input-field {
        width: 300px;
        outline: none;
    }

    .register-form .password .input-field {
        width: 300px;
     }

     .register-form .sign-up-btn{
        width: 90%;
        margin: 10px 0px 0px 22px;
     }

}