#topheader{
  /*background-color: #0F3460;*/
  background-color:var(--main-bg-color);
  display: flex;
  justify-content:end;
  margin: 0;
  padding: 5px 40px 5px 40px;
  @media(max-width:1115px){
    display:none;
  }

}

#topheader .topheader_leftside{
  display: flex;
   margin: 0px;
}

#topheader .topheader_rightside{
 display: flex;
  margin: 0px;
}

li {
  list-style-type: none;
}


.topheader_leftside a{
  font-size: 11.5px;
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,sans-serif;
  padding: 4px 15px;
  text-decoration: none;
  color: #fff;
  transition: 1s;
  &:hover{
    transition:all 1s;
    text-decoration: underline;
  }
}

.topheader_rightside a{
  font-size: 11.5px;
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,sans-serif;
  padding: 4px 15px;
  text-decoration: none;
  color: #fff;
  &:hover{
    transition: 0.3s;
    text-decoration: underline;
  }
}


.responisve-none{
 color: blue;
}